*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.a-text{
    background: url(image/1668074576502.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 700px;
    padding-left: 50px;
    margin: 0 auto;

  
}
#close-bot{
    display: none;
}
#special{
    height: 80px;
}
.a-text h2{
font-size: 25px;
padding-top: 50px;
padding-bottom: 10px;
}
.a-text p{
    color: gray;
}

.a-text form{
    max-width: 600px;
    margin-top: 60px;

}
.a-text form input{
    width: 90%;
    padding: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.a-text form label{
    font-size: 18px;
    padding-bottom: 10px;
}
section{
    padding-bottom: 90px;
    padding-top: 50px;
}
.a-text img{
    float: right;
}


.b-text{
    margin: 0 auto;
    max-width: 700px;
}

#hidden{
    visibility: hidden;
}

@media(max-width:768px){
   .a-text{
       height: 100vh;
       padding-left: 20px;
       overflow-x: hidden;
       padding-bottom: 20px;
       top: 0px;
       max-width: 350px;
       border-top-left-radius: 20px;
       border-bottom-right-radius: 20px;
       border: 3px solid rgb(136, 0, 247);
       /* border-top-left-radius: 20px;
       border-bottom-right-radius: 20px;
       border: 3px solid rgb(136, 0, 247); */

   }
   .a-text h2{
       font-size: 20px;
   }
   
.a-text form{
    max-width: 320px;
    margin-top: 60px;

}
.a-text form input{
    width: 90%;
    padding: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.a-text form label{
    font-size: 18px;
    padding-bottom: 10px;
}

.b-text button{
    width: 20%;
    height: 70px;
    margin-left: 20px;
    border-radius: 50%;
    border: none;
    padding: 4px;
    background-color: blueviolet;
    color: aliceblue;
    margin-top: 30px;

}

}
@media(min-width:768px){
    
.a-text{
    background: url(image/1668074576502.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 700px;
    padding-left: 50px;
border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 3px solid rgb(136, 0, 247);
    margin: 0 auto;
}
.a-text h2{
font-size: 25px;
padding-top: 50px;
padding-bottom: 10px;
}
.a-text p{
    color: gray;
}

.a-text form{
    max-width: 500px;
    margin-top: 60px;

}
.a-text form input{
    width: 90%;
    padding: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.a-text form label{
    font-size: 18px;
    padding-bottom: 10px;
}
.b-text button{
    width: 17%;
    height: 100px;
    border-radius: 50%;
    border: none;
    padding: 4px;
    background-color: blueviolet;
    color: aliceblue;
    margin-top: 30px;

}
}
@media(min-width:1024px){
    
.a-text{
    background: url(image/1668074576502.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 700px;
    height: 750px;
    padding-left: 50px;
    margin: 0 auto;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 3px solid rgb(136, 0, 247);
}
.a-text h2{
font-size: 25px;
padding-top: 50px;
padding-bottom: 10px;
}
.a-text p{
    color: gray;
}

.a-text form{
    max-width: 500px;
    margin-top: 60px;
    

}
.a-text form input{
    width: 90%;
    padding: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.a-text form label{
    font-size: 18px;
    padding-bottom: 10px;
}
.b-text button{
    width: 12%;
    height: 70px;
    border-radius: 50%;
    border: none;
    padding: 4px;
    background-color: blueviolet;
    color: aliceblue;
    margin-top: 30px;

}
}